.title {
    background-color: rgba(247, 247, 247, 0.753);
    font-size: 1.2em;
    padding: 7px;
    border-bottom: 2px solid gray;
}

p {
    margin: 0 0 5px;
}

.header {
    margin-bottom: 10px;
}

.container {
    margin-top: 70px;
}

