$aboutBackground: rgb(99, 99, 99);

p {
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    // display: -webkit-flex;
    // display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    // align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.flex-item {
    padding: 0px;
    width: 270px;
    height: 450px;
    margin: 5px;
    background: #C7C7C7;
}

.movie {
    // overflow: hide;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    // margin-bottom: 10px;
}

div.filmName {
    text-align: center;
    padding: 0px 10px;
}

.poster {
    position: relative;

}
.about {
    position: absolute;
    bottom: 0px;
    width: 100%;
    span {
        background-color: $aboutBackground;
        color: white;
        border-radius: 0px 50px 50px 0px;
        padding: 5px;
        i {
            color: $aboutBackground;
        }
    }
    p {
        padding: 5px 0px;
        margin: 0px;
    }
}

.rating {
    // background-color: rgb(156, 156, 156);
    margin: 2px;
    height: 23px;
}
