<div class="list flex-container">
  <div *ngIf="listIsClean == true" class="clear">
    <p>list Is clean</p>
  </div>
  <div *ngFor="let movie of data" class="movie flex-item">
    <div class="poster">
      <img src="assets/{{movie.Link}}" alt="{{movie.Title}}">
      <div class="about">
        <!-- <p class="title"> {{ movie.Description }}</p> -->
        <p>
            <span> KP : 8.2 <i>.</i></span>
        </p>
        <p>
          <span>IMB : 8.0  <i>.</i></span>   
        </p>
        <p>
          <span>DICH : 2.0  <i>.</i></span>
        </p>       
      </div>
    </div>
    <!-- <div class="rating">
      <p>rating</p>
    </div> -->
    <div class="filmName">
      <p> {{ movie.Title }}</p>
    </div>  
  </div>
</div>



<!-- 
"MovieId": 1,
"Title": "string",
"Description": "string",
"Length": 0,
"Slogan": "string",
"PremiereDate": "2017-10-01T00:00:00.000Z",
"RatingAgeLimit": "string",
"Budget": 0,
"Rating": 0,
"TotalViews": 0,
"TrailerLink": "string" 
-->