<div class="list flex-container">
  <div *ngIf="data && data.length == 0" class="clear">    
    <p>list Is clean</p>
  </div>
  <div *ngFor="let movie of data" class="movie flex-item">
    <div class="poster">
      <img src="assets/{{movie.Link}}" alt="{{movie.Title}}">
      <div class="about">
        <!-- <p class="title"> {{ movie.Description }}</p> -->
        <p>
            <span>KP : 8.2 <i>.</i></span>
        </p>
        <p>
          <span>IMB : 8.0  <i>.</i></span>   
        </p>
        <p>
          <span>Metacritic : 2.0  <i>.</i></span>
        </p>       
      </div>
    </div>
    <div class="filmName">
      <p> {{ movie.Title }}</p>
    </div>  
    <div class="rating">
      <!-- <p>{{movie.UsersMovies[0].Rating}}</p> -->
      <star-rating-comp 
        [id]="movie.MovieId"
        [rating]="movie.UsersMovies[0].Rating/2"
        [starType]="'svg'"
        [step]="0.1"
        [numOfStars]="5" 
        [size]="'medium'"
        [showHalfStars]="true"
        [speed]="'slow'"
        [direction]="'ltr'"
        [hoverEnabled]="true"
        [labelPosition]="'right'"
        [staticColor]="'ok'"
        

        (onClick)="onClick($event, movie.MovieId)"
        (onRatingChange)="onRatingChange($event, movie.MovieId)"
      ></star-rating-comp>
    </div>
  </div>
</div>