textarea {
    height: 70px;
    width: 75%;
}

input {
    width: 75%;

    &.budget {
        width: 100px;
    }
}

p {
    margin: 10px 0px 0px 0px; 
}

ul {
    margin: 10px;

}

li {
    display: inline-block;
    margin: 5px;
}