@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.navbar {
    background-color: rgba(204, 204, 204, 0.788);
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

a:after {
        background-color: #000000;
        display: block;
        content: "";
        height: 1px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }

a:hover:after,
a:focus:after {
    width: 100%;
}