<div class="container">
  <div class="row">
    <div class="select-btn">
      <button (click)="onCollaborativefiltering()" type="button" class="btn btn-success"> Collaborative filtering</button>
      <button (click)="onApriori()" type="button" class="btn btn-success"> onApriori</button>
    </div>
      <app-movie-list
        [fields]="fields"
        [filter]="filter"
        [service]="serviceRef" 
        [options]="options" 
        (selected)="onSelect($event)">
    </app-movie-list>
  </div>
</div>