<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-0 select-btn top-block">
      <button [ngClass] = "{ 'selected': CFstatus }" (click)="onCollaborativefiltering()" type="button" class="btn btn-success"> Collaborative filtering </button>
      <button [ngClass] = "{ 'selected': AprioriStatus }" (click)="onApriori()" type="button" class="btn btn-success"> Apriori </button>
      <button [ngClass] = "{ 'selected': AACFstatus }" (click)="onApriorialgorithmAndCollaborativefiltering()" type="button" class="btn btn-success"> ApriorialgorithmAndCollaborativefiltering </button>
    </div>
      <app-movie-list
        [fields]="fields"
        [filter]="filter"
        [service]="serviceRef" 
        [options]="options" 
        [filterMode]="true"
        (selected)="onSelect($event)">
    </app-movie-list>
  </div>
</div>