.ibox-border {
    border: 1px solid rgba(212, 212, 212, 0.32);
    background-color: rgba(226, 226, 226, 0.23);
    -webkit-box-shadow: 10px 10px 85px -30px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 85px -30px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 85px -30px rgba(0,0,0,0.38);
}

.wrapper-center {
    margin: 20px 0 ;
}