/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "assets/styles/style";
@import "assets/font-awesome/css/font-awesome.min.css";
// @import "~angular-star-rating/assets/scss/star-rating";


$maxNumOfStars: 2;
$color-positive-rating: #131b09 !default;
@import "../node_modules/angular-star-rating/assets/scss/star-rating.scss";

@font-face {
    font-family: "Passion One Regular";
    src: url("/assets/fonts/PassionOne/PassionOne-Regular.ttf") format("truetype"),
}

html, body {
    background: url('/assets/images/background.png') repeat;
    color: black;
}
